<div class="container">
  <div class="col-md-6 offset-md-3 local-events">
    <h1>Events in Birmingham</h1>
    <% @local_events.each do |e| %>
        <div class="container event">
          <p class="date"><%= e.date %></p>
          <p class="place"><%= e.place %></p>
          <p class="keywords"><%= e.keywords %></p>
        </div>
    <% end %>
  </div>

  <div class="col-md-6 offset-md-3 other-events">
    <h1>Other Events Globally</h1>
    <% @other_events.each do |e| %>
        <div class="row event">
          <p class="date"><%= e.date %></p>
          <p class="place"><%= e.place %></p>
          <p class="keywords"><%= e.keywords %></p>
        </div>
    <% end %>
  </div>
</div>
