<div class="container">
  <div class="col-md-6 offset-md-3 local-events">
    <h1>Events in Birmingham</h1>
    <% @local_events.each do |e| %>
        <div class="container event">
          <div class="row">
            <div class="col-12">
              <p class="date"><%= e.date %></p>
              <p class="place float-right"><%= e.place %></p>
            </div>
          </div>
          <div class="row">
            <p class="keywords"><%= e.keywords %></p>
          </div>
        </div>
    <% end %>

    <%= will_paginate @local_events %>
  </div>

  <div class="col-md-6 offset-md-3 other-events">
    <h1>Other Events Globally</h1>
    <% @other_events.each do |e| %>
        <div class="container event">
          <div class="row">
            <div class="col-12">
              <p class="date"><%= e.date %></p>
              <p class="place float-right"><%= e.place %></p>
            </div>
          </div>
          <div class="row">
            <p class="keywords"><%= e.keywords %></p>
          </div>
        </div>
    <% end %>
    <%= will_paginate @other_events %>
  </div>
</div>
